<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-275">
    <div class="cs-container">
        <!-- Contact Info -->
        <span class="cs-header">Are you interested? </br> Get in touch with me</span>
        <ul class="cs-contact">
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel:{{ client.phoneForTel }}">Phone</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:{{ client.email }}">Email</a>
            </li>
        </ul>
    </div>
</footer>