---
title: "Bytes | Kopfhörerhersteller"
description: "Logo design für die Firma Bytes"
permalink: "/bytes/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="stylesheet" href="/assets/css/style_guide.css">
{% endblock %}

{% block body %}

    

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title page-title">Bytes</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/Bytes/" class="cs-link cs-active">Bytes</a>
            </div>
        </div>
        <!--Background Image-->
        
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/portfolio/bytes/bytes_brand_bg.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>


     <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
    <section class="box" id="description">
        <div class="text-box">
            <div class="content">
                <div class="title">
                    <span class="cs-int-title des">Beschreibung </span>
                    
                </div>
                <span class="cs-int-title des cs-line">Logo Design</span>
                <p class="cs-text">
                    Dieses Logo ist eine Fallstudie für die fiktive Marke Bytes, 
                    einen Kopfhörerhersteller. Das Logo vermittelt klar die Markenidentität. 
                    Der Designprozess folgte der Leitlinie, ein Hai-Maskottchen mit einem „Gamer“-Publikum zu kombinieren. 
                    Die Ästhetik vermittelt einen entspannten und verspielten Charakter, der die Marke widerspiegelt.
            </div>
        </div>
    </section>
    <section class="box" id="pictures">
       
        <div class="cs-picture-group">
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/bytes/products/bytes_rubix_cube.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/bytes/products/bytes_rubix_cube.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/bytes/products/bytes_rubix_cube.jpg" alt="Bytes Rubics Cube" width="1920" height="1080">
            </picture>
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/bytes/bytes_name.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/bytes/bytes_name.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/bytes/bytes_name.jpg" alt="Bytes Name" width="1920" height="1080">
            </picture>
            <picture class="cs-picture cs-picture-2">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/bytes/products/bytes_bag_and_headphones.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/bytes/products/bytes_bag_and_headphones.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/bytes/products/bytes_bag_and_headphones.jpg" alt="Bytes Bag" width="1920" height="1080">
            </picture>
            <picture class="cs-picture cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/bytes/bytes_logo.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/bytes/bytes_logo.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/bytes/bytes_logo.jpg" alt="Bytes Logo" width="1920" height="1080">
            </picture>
            <picture class="cs-picture cs-picture-3">
                <source media="(max-width: 600px)" srcset="/assets/images/portfolio/bytes/products/bytes_hoodie.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/portfolio/bytes/products/bytes_hoodie.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/portfolio/bytes/products/bytes_hoodie.jpg" alt="Bytes Hoodie" width="1920" height="1080">
            </picture>
        </div>
</section>


    

{% endblock %}