/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-48 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #gallery-48 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-48 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1.25rem);
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-48 .cs-content #Filter {
    width: 100%;
    text-align: center;
    margin: 20px;
    position: relative;
  }
  #gallery-48 .cs-content #Filter:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 3px solid var(--primary);
    width: 100%;
    z-index: 1;
    transform: translateY(-50%);
  }
  #gallery-48 .cs-content .button-group {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  #gallery-48 .cs-content .filter-button {
    background: var(--background);
    color: var(--primary);
    padding: clamp(0.5rem, 2vw, 1.25rem);
    font-size: var(--bodyFontSize);
    cursor: none;
    z-index: 2;
    border-radius: 16rem;
    border: var(--primary) 3px solid;
    width: calc(20%);
  }
  #gallery-48 .cs-content .filter-button.active {
    background: var(--primary);
    color: var(--background);
  }
  #gallery-48 .cs-title {
    text-transform: uppercase;
    margin: 0;
    max-width: 20ch;
  }
  #gallery-48 .picture-group {
    /* used rem so it doesn't scale with the font size of on parent */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: min(1.1vw, 1em);
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    /* 8px - 20px */
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #gallery-48 .cs-picture {
    width: clamp(12rem, 20vw, 18rem);
    position: relative;
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  #gallery-48 .cs-picture img {
    position: relative;
    scale: 1.1;
    height: clamp(15rem, 25vw, 20rem);
    width: 100%;
    object-fit: cover;
    transition: scale 0.3s ease-in-out;
  }
  #gallery-48 .cs-picture img:hover {
    scale: 1.2;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 55rem) {
  #gallery-48 .cs-content {
    flex-direction: row;
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #gallery-48 .picture-group {
    height: clamp(20rem, 25vw, 25rem);
  }
}
/* Desktop - 1024px */
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-48 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-313,
  #RPsbsr-313 {
    padding: var(--sectionPadding);
  }
  #RPsbs-313 .cs-container,
  #RPsbsr-313 .cs-container {
    width: 100%;
    max-width: 80rem;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RPsbs-313 .titlebox,
  #RPsbsr-313 .titlebox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #RPsbs-313 #Filter,
  #RPsbsr-313 #Filter {
    width: 100%;
    text-align: center;
    margin: 20px;
    position: relative;
  }
  #RPsbs-313 #Filter:before,
  #RPsbsr-313 #Filter:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 3px solid var(--primary);
    width: 100%;
    z-index: 1;
    transform: translateY(-50%);
  }
  #RPsbs-313 .cs-title,
  #RPsbsr-313 .cs-title {
    text-transform: uppercase;
    margin: 0;
    text-wrap: nowrap;
    max-width: 20ch;
  }
  #RPsbs-313 .cs-text,
  #RPsbsr-313 .cs-text {
    margin-bottom: 1rem;
  }
  #RPsbs-313 .cs-text:last-of-type,
  #RPsbsr-313 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RPsbs-313 .cs-image-group,
  #RPsbsr-313 .cs-image-group {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 46.875em;
    margin-bottom: 18.75em;
    position: relative;
  }
  #RPsbs-313 .cs-picture,
  #RPsbsr-313 .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #RPsbs-313 .cs-picture img,
  #RPsbsr-313 .cs-picture img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #RPsbs-313 .filter-purple,
  #RPsbsr-313 .filter-purple {
    position: absolute;
    height: 28.125em;
    color: var(--strokeColor);
    right: 18%;
    top: 9%;
  }
  #RPsbs-313 #back-curve,
  #RPsbsr-313 #back-curve {
    position: absolute;
    right: 8%;
    top: 30%;
  }
  #RPsbs-313 #back-curve-end,
  #RPsbsr-313 #back-curve-end {
    position: absolute;
    right: 23%;
    top: 84%;
    rotate: -5deg;
    height: 5em;
  }
  #RPsbs-313 .cs-picture1,
  #RPsbsr-313 .cs-picture1 {
    width: 18.75em;
    height: 30.625em;
    right: 15%;
    top: 0;
    border: clamp(0.375em, 1.5vw, 0.75em) dashed var(--strokeColor);
  }
  #RPsbs-313 .cs-picture2,
  #RPsbsr-313 .cs-picture2 {
    width: 16.875em;
    height: 26.25em;
    /* 6px - 12px */
    right: 25%;
    top: 5%;
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--strokeColor);
  }
  #RPsbs-313 .cs-about-card,
  #RPsbsr-313 .cs-about-card {
    position: absolute;
    background-color: var(--background);
    transform-origin: right top;
    rotate: -10deg;
    bottom: -20%;
    right: 22%;
    width: 25em;
    height: 17.5em;
    border-radius: 1.5em;
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--strokeColor);
    padding: clamp(1rem, 3vw, 2rem);
  }
  #RPsbs-313 .cs-about-card .cs-text,
  #RPsbsr-313 .cs-about-card .cs-text {
    margin: 0;
    height: 100%;
    width: 100%;
    padding-right: 2.1875rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbs-313 .cs-container,
  #RPsbsr-313 .cs-container {
    flex-flow: row;
    gap: 3.25rem;
    justify-content: center;
  }
  #RPsbs-313 .cs-image-group,
  #RPsbsr-313 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #RPsbs-313 .cs-content,
  #RPsbsr-313 .cs-content {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbs-313 .cs-image-group:before,
  body.dark-mode #RPsbsr-313 .cs-image-group:before,
  body.dark-mode #RPsbs-313 .cs-image-group:after,
  body.dark-mode #RPsbsr-313 .cs-image-group:after {
    background: var(--accent);
  }
  body.dark-mode #RPsbs-313 .cs-picture2,
  body.dark-mode #RPsbsr-313 .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #RPsbs-313 .cs-topper,
  body.dark-mode #RPsbsr-313 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #RPsbs-313 .cs-name,
  body.dark-mode #RPsbsr-313 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #RPsbs-313 .cs-quote,
  body.dark-mode #RPsbsr-313 .cs-quote {
    background-color: var(--accent);
  }
  body.dark-mode #RPsbs-313 .cs-job,
  body.dark-mode #RPsbsr-313 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #RPsbs-313 .cs-quote-icon,
  body.dark-mode #RPsbsr-313 .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-313 {
    background-color: #f7f7f7;
  }
  #RPsbsr-313 .cs-picture1 {
    left: auto;
    right: 0;
  }
  #RPsbsr-313 .cs-picture2 {
    left: auto;
    right: 0;
  }
  #RPsbsr-313 .cs-quote {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbsr-313 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbsr-313 {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
