// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.less
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            height: max-content;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .titlebox {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }
        #Filter {
                width: 100%;
                text-align: center;
                margin: 20px;
                position: relative;
        }

        #Filter:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            border-top: 3px solid var(--primary);
            width: 100%;
            z-index: 1;
            transform: translateY(-50%);
        }
        .cs-title {
            text-transform: uppercase;
            margin: 0;
            text-wrap: nowrap;
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }


        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (750/16em);
            margin-bottom: (300/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;
            

            img {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .filter-purple {
            position: absolute;
            height: (450/16em);
            color: var(--strokeColor);
            right: 18%;
            top: 9%;
        }

        #back-curve {
            position: absolute;
            right: 8%;
            top: 30%
        }

        #back-curve-end {
            position: absolute;
            right: 23%;
            top: 84%;
            rotate: -5deg;
            height: (80/16em);
        }

        .cs-picture1 {
            width: (300/16em);
            height: (490/16em);
            right: 15%;
            top: 0;
            border: clamp(0.375em, 1.5vw, 0.75em) dashed var(--strokeColor);
        }

        .cs-picture2 {
            width: (270/16em);
            height: (420/16em);
            /* 6px - 12px */
            right: 25%;
            top: 5%;
            border: clamp(0.375em, 1.5vw, 0.75em) solid var(--strokeColor);
        }

        .cs-about-card {
            
            position: absolute;
            background-color: var(--background);
            transform-origin: right top;
            rotate: -10deg;
            bottom: -20%;
            right: 22%;
            width: (400/16em);
            height: (280/16em);
            border-radius: (24/16em);
            border: clamp(0.375em, 1.5vw, 0.75em) solid var(--strokeColor);
            padding: clamp(1rem, 3vw, 2rem);

            .cs-text {
                margin: 0;
                height: 100%;
                width: 100%;
                padding-right: (35/16rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        .cs-container {
            flex-flow: row;
            gap: (52/16rem);
            justify-content: center;
        }

        .cs-image-group {

            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313,
        #RPsbsr-313 {
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            
            

            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}