---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
        

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <span class="cs-topper">design code deploy</span>
            <h1 class="cs-title">Silan Baycu</h1>
            <p class="cs-text">
                Web Developer & Graphic Designer.
            </p>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <img src="{% getUrl '/assets/images/rectangles.jpg' | resize({ width: 1920, height: 1080 }) %}" alt="hero" width="100%" height="auto" loading="eager" decoding="async">
        </picture>
    </section>


    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-48">
        <div class="cs-container">
            <div class="cs-content titlebox">
                <h2 class="cs-title">Portfolio</h2>
                <div id = "Filter">
                    <div class="button-group">
                        <button class="filter-button active">Logos</button>
                        <button class="filter-button">Websites</button>
                        <button class="filter-button">Flyers</button>
                    </div>
                </div>
            </div>
            <div class="picture-group" id="logos">

                <!--Bytes-->
                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 182 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 182 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 182 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 634 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 634 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 634 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 826 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 826 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 826 }) | jpeg %}" type="image/jpeg">
                    <a id ="portfolio-link" href="/bytes/">
                        <img src="{% getUrl '/assets/images/portfolio/bytes/products/bytes_blue_headphones.jpg' | resize({ width: auto, height: 1134 }) | jpeg %}" alt="Bytes Shark Logo" width="auto" height="500" loading="lazy" decoding="async">
                    </a>
                </picture>

                <!-- Image 2-->
                <picture class="cs-picture cs-picture-2 portfolio-item">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 182 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 182 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 182 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 634 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 634 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 634 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 826 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 826 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 826 }) | jpeg %}" type="image/jpeg">
                    <a id ="portfolio-link" href="/symbiose/">
                        <img src="{% getUrl '/assets/images/portfolio/symbiose/symbiose_app.jpg' | resize({ width: auto, height: 1258 }) | jpeg %}" alt="new home construction" width="auto" height="500" loading="lazy" decoding="async">
                    </a>symbiose_app
                </picture>

                <!-- Image 3-->
                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <div class="picture-group" id = "websites">

                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

               <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <div class="picture-group" id = "flyers">

                <!--Bytes-->
                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 250 }) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 250 }) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 250 }) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image-->
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 798 }) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 798 }) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 798 }) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image-->
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 1134 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 1134 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 1134 }) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl '/assets/images/portfolio/flyers/MacBeth.jpg' | resize({ width: auto, height: 1134 }) | jpeg %}" alt="Bytes Shark Logo" width="413" height="567" loading="lazy" decoding="async">
                </picture>

                <!-- Image 2-->
               <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

                <!-- Image 3-->
                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>

                <picture class="cs-picture cs-picture-1 portfolio-item">
                    <img src="/assets/images/giphy.gif" alt="building a new wall" width="auto" height="1258" loading="lazy" decoding="async">

                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
    </section>
{% endblock %}